@model IEnumerable<SecureMvcApp.Models.Event>

<div class="container mt-4">

    <h2 class="page-title">📅 Gestion des événements</h2>

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success mb-3" href="/Admin/Create">
            + Créer un événement
        </a>
    }

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">

                <div class="card card-event p-3">

                    <h5 class="fw-bold">@item.Title</h5>

                    <p class="text-muted mb-1">
                        📍 @item.Lieu
                    </p>

                    <p>
                        📅 @item.Date.ToString("dd/MM/yyyy")
                    </p>

                    <span class="badge bg-primary mb-2">
                        🎟️ Places : @item.NombrePlaces
                    </span>

                    <a class="btn btn-outline-primary w-100"
                       href="/Events/Details/@item.Id">
                        Voir détails
                    </a>

                </div>

            </div>
        }
    </div>

</div>